
body {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    background: linear-gradient(#81d0f1, #16bed1);
    margin: 0;
    padding: 40px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

header {
    background: #ffafd3;
    padding: 40px 50px;
    text-align: center;
}

h1, h2, h3 {
    color: #021C1F;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    margin-top: 2px;
}

h3 {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

span {
    font-weight: 600;
}


figure {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9dddd;
    max-width: 700px;
    display: block;
}

figcaption {
    font-size: small;
    font-style: italic;
    line-height: 1.4;
    margin-top: 10px;
}


.recipe-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px; 
    margin: 20px 0;
}



.ingredients-section {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-section h3 {
    font-size: bold;
    text-align: center;

}

ul {
    line-height: 1.5;
    background-color: #f9dddd;
    padding: 40px;
    width: 300px;
    border-radius: 8px;
}

ol {
    background-color: #f9dddd;
    padding: 25px 40px 25px 60px;
    max-width: 700px;
    border-radius: 8px;
}

li {
    margin-bottom: 12px;
}


.forms-section {
    display: grid;
    gap: 30px;
    margin: 20px 0;
}

.conversion-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f9dddd;
    padding: 20px;
    border-radius: 8px;
}


.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9dddd;
}

fieldset {
    margin: 10px 0;
}

input {
    padding: 10px;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    margin: 5px;
}


hr {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #d3487217, #6e99dd, #d3487217);
    margin: 30px;
}
