
body {
    font-family: "Figtree", sans-serif;
    background: linear-gradient(#81d0f1, #16bed1);
    margin: 0;
    padding: 40px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

    h1, h2, h3 {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    color: #021C1F;
    text-align: center;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: "Figtree", sans-serif;
    font-size: medium;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

h3 {
    font-family: "Figtree", sans-serif;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

p {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

figure {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9dddd;
    max-width: 600px;
    display: block;

}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
}


.recipe-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px; 
    margin: 20px 0;
}

.ingredients-section {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-section > div {
    grid-column: 1;
}


ul {
    line-height: 1.5;
    background-color: #f9dddd;
    padding: 40px;
    width: 300px;
    border-radius: 8px;
    text-align: left;
    
}


li {
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 12px;
}

.forms-section {
    display: grid;
    gap: 30px;
    margin: 20px 0;
}

.conversion-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f9dddd;
    padding: 20px;
    border-radius: 8px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    text-align: left;
    margin: 10px 0;

}
ol {
    background: #f9dddd;
    padding: 25px 40px 25px 60px;
    text-align: left;
    max-width: 700px;

}
input {
    padding: 10px;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    margin: 5px;
}
hr {

    border: none;
    height: 5px;
    background: linear-gradient(to right, #d3487217, #6e99dd, #d3487217);
    margin: 30px;

}
span {
    font-weight: 600;
}

